@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  margin: 0;
}

.leaflet-container {
  font-family: system-ui, sans-serif;
}

.leaflet-top.leaflet-left {
  top: 12px;
  left: 12px;
}

.leaflet-control-zoom {
  margin: 0 !important;
}

.leaflet-control-zoom a {
  width: 40px !important;
  height: 40px !important;
  line-height: 40px !important;
}

.machimap-user-loc {
  background: transparent !important;
  border: none !important;
}
